/* ===== Fondo general ===== */
.fondo {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #E9FBF4, #C3F4DF);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.error {
    color: #d80032;
    font-size: 0.9rem;
    margin-top: -0.5rem;
    margin-bottom: 0.3rem;
}


/* ===== Tarjeta ===== */
.card {
    width: 100%;
    max-width: 380px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    border-radius: 1.2rem;
    padding: 2.5rem 2rem;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* ===== Logo ===== */
.logo {
    width: 120px;
    display: block;
    margin: 0 auto;
}

/* ===== Texto ===== */
.titulo {
    text-align: center;
    color: #0f3d25;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.label {
    color: #083a24;
    font-weight: 500;
    margin-top: 0.5rem;
}

/* ===== Inputs ===== */
.input {
    height: 2.7rem;
    border-radius: 0.6rem;
    border: 2px solid #16774f;
    padding-left: 0.7rem;
    font-size: 1rem;
    color: black;
    background-color: white;
    transition: 0.2s ease;
}

.input:disabled {
    background-color: #d9d9d9;
}

.input:focus {
    outline: none;
    border-color: #4edfa2;
    box-shadow: 0px 0px 8px rgba(78,223,162,0.6);
}

/* ===== Botones ===== */
button {
    cursor: pointer;
    border: none;
    border-radius: 0.6rem;
    height: 2.7rem;
    margin-top: 0.3rem;
    font-size: 1rem;
    transition: 0.25s ease;
    font-weight: 600;
}

/* Botón primario */
.btnPrimario {
    background: linear-gradient(120deg, #1e8c61, #16774f);
    color: white;
}

.btnPrimario:hover {
    background: #4edfa2;
    color: black;
}

/* Botón secundario */
.btnSecundario {
    background: #0c4c2f;
    color: white;
}

.btnSecundario:hover {
    background: #4edfa2;
    color: black;
}

button:disabled {
    background: #6b6b6b !important;
    color: #e2e2e2 !important;
    cursor: not-allowed;
}
