#contenedorPagina{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
}
#contenedorSeccion{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
}
#contenedorCredenciales{
    background-color: rgb(172, 238, 172);
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    row-gap: 1rem;
    border-radius: 1rem;
    margin-top: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 2px rgb(4, 66, 13);
}
#botonIniciarSesion{
    border: 1px solid  black;
    background-color: white;
    color: black;
    display: flex;
    grid-column: span 2;
    border-radius: 7px;
    height: 2rem;
    width: 10rem;
    margin-top: 1rem;    
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
}
#logoDamena{
    width: 9rem;
    height: 9rem;
    margin-top: 1rem;
    
}
#divisionAyuda{
    display: flex;
    position: absolute;
    bottom: 0px;
    background-color: rgb(8, 39, 8);
    grid-column: span 3;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    border-radius: 3px;
    height: 7%;
    width: 100%;
}

#botonIniciarSesion:hover{

    border-color: white;
    background-color: rgb(5, 46, 5);
    color: white;
}
label{
    color: black;
    grid-column: 1/2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    height: 1.2rem;
    color: black;
    grid-column: 2/3;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    color: black;
    font-size: 30px;
    text-shadow: 0px 1px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 768px) {
    #contenedorSeccion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: white;
        width: 100%;
        height: 50%;
        place-items: center;
        align-items: stretch 
    }
    #contenedorCredenciales{
        grid-column-start: 1;
        grid-row-start: 2;
        width: 100%;
        margin-top: 0rem;
        margin-left: 8rem;
        margin-right: 0rem;
        margin-bottom: 0rem;
        align-self: start;
        justify-items: start;

    }
    #logoDamena{
        width: 11rem;
        height: 11rem;
        grid-column-start: 1;
        grid-row-start: 1;
        margin-left: 8rem;
    }
    #botonIniciarSesion{
        border: 1px solid  black;
        background-color: white;
        color: black;
        display: flex;
        grid-column: span 2;
        border-radius: 7px;
        height: 2rem;
        margin-top: 1rem;    
        justify-self: center;
    }
    #divisionAyuda{
        display: flex;
        position: absolute;
        bottom: 0px;
        background-color: rgb(8, 39, 8);
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-radius: 3px;
        height: 10%;
        width: 100%;
    }
    h2{
        color: black;
        font-size: 30px;
        text-shadow: 0px 1px 2px black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        grid-column-start: 1;
        grid-row-start: 1;
        margin-top: 10rem;
        margin-left: 8rem;
    }
    p{
        color: black;
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        text-align: justify;
        margin-top: 5rem;
        margin-left: 8rem;
        margin-right: 1rem;
        max-width: 70%;
    }
    input{
        height: 1.2rem;
        width: 12rem;
        color: black;
        grid-column: 2/3;
        background-color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    label{
        color: black;
        grid-column: 1/2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-self: center;
    }
    
}

@media (min-width: 1024px) {
    #contenedorSeccion{
        display: flex;
        background-color: white;
        width: 100%;
        height: 70%;
    }
}